/* ///global styling /// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;

  display: grid;
  grid-template:
    "header" auto
    "section-body" 1fr
    "footer" auto /
    1fr;

  /* background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%); */

  background: linear-gradient(to bottom, #ffffff 0%, #978aff 100%);
}

.section-title,
h1 {
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

h1 {
  margin-top: 10px;
}

.text {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

h2 {
  font-weight: lighter;
  margin-left: 10px;
  color: grey;
  font-size: 1rem;
}

.section-title {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}

/* /// header styling /// */

header {
  grid-area: header;

  text-align: center;
  margin-bottom: 10px;
}

/* // main stlyling // */

main {
  overflow: scroll;
}

.section-body {
  grid-area: section-body;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  grid-auto-rows: auto;
}

.section-body .items {
  /* border: 1px solid rgba(131, 130, 130, 0.527);
  border-radius: 2px; */
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}

img:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.521);
}

.images-copy {
  padding-left: 10px;
  font-family: "Spartan", sans-serif;
  font-size: 0.7rem;
  line-height: 2;
  color: rgb(75, 66, 66);
}

/* //footer styling// */

footer {
  grid-area: footer;
  background: linear-gradient(to top, #ffffff 0%, #978aff 100%);

  display: grid;
  grid-auto-flow: column;
}

footer span {
  padding: 10px;
  display: grid;
  place-items: center;
}

.menu-icons svg {
  width: 30px;
}

svg:hover {
  fill: rgb(17, 56, 231);
}

/* //desktop styling// */

@media screen and (min-width: 800px) {
  .section-body {
    grid-area: section-body;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    grid-auto-rows: auto;
  }

  img:hover {
    transform: scale(2);

    /* translate(-50%, -50%) */
  }

  .section-title {
    text-transform: uppercase;
    background-color: blueviolet;
    font-size: 2rem;
  }

  body {
    grid-template:
      "header header" auto
      "footer section-body" 1fr /
      50px 1fr;

    background: linear-gradient(to bottom, #ffffff 0%, #978aff 100%);
  }

  footer {
    grid-auto-flow: row;
    background: linear-gradient(to bottom, #ffffff 0%, #978aff 100%);
  }
}
